QDialog {
    background-color: rgb(55, 57, 68);
}

QLabel {
    color: rgb(220, 220, 220);
    font-weight: 600;
    font-size: 13px;
}

QComboBox {
    background-color: rgb(33, 35, 41);
    color: rgb(230, 230, 230);
    border: 1px solid rgb(159, 160, 162);
    border-radius: 5px;
    padding: 6px 10px;
    min-height: 20px;
    combobox-popup: 0;
    font-size: 13px;
}
QComboBox:disabled {
    color: rgb(160, 160, 160);
}
QComboBox[state="future"] {
    background-color: rgb(104, 104, 112);
}
QComboBox::drop-down {
    border: none;
    width: 24px;
    subcontrol-origin: padding;
    subcontrol-position: center right;
}
QComboBox::down-arrow {
    image: url(:/chevron.svg);
    width: 10px;
    height: 6px;
}

QComboBox QAbstractItemView {
    background-color: rgb(33, 35, 41);
    color: rgb(230, 230, 230);
    border: 1px solid rgb(159, 160, 162);
    border-radius: 5px;
    outline: 0;
    selection-background-color: rgb(70, 72, 82);
    selection-color: white;
    font-size: 13px;
}
QComboBox QAbstractItemView::item {
    min-height: 28px;
    padding: 0px 10px;
}

QPushButton {
    background-color: rgb(33, 35, 41);
    color: rgb(230, 230, 230);
    border: 1px solid rgb(159, 160, 162);
    border-radius: 5px;
    padding: 6px 16px;
    font-size: 13px;
}
QPushButton:hover {
    background-color: rgb(45, 48, 56);
}
QPushButton:default {
    border-color: rgb(200, 200, 205);
}
